@tailwind base;
@tailwind components;
@tailwind utilities;

.flip_card{
    perspective: 1000px;
}

.flip_card-inner{
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip_card-login,
.flip_card-signup
{
    
    backface-visibility: hidden;
}

.flip_card-signup{
    transform: rotateY(180deg);
}